<h1>Все опросы</h1>
<h3>@Model.currSurvey</h3>
<div class="row mt-5 mb-2">
    @{

        foreach (Survey surv in Model.allsurvey)
        {
            @Html.Partial("allsurvey", surv)
        }
    }
</div>
